<section class="page-wrapper">
    <article class="login-form-wrapper">
        <h2>Enter Login</h2>
        <form class="login-form">
            <div class="login-email-wrapper">
                <div>
                    <label>Email </label>
                </div>
                <div>
                    <input class="login-email" name="login-email" type="text">
                </div>
            </div>
            <div>
                <label>Password </label>
                <input class="login-password" name="login-password" type="password">
            </div>
            <div>
                <button class="btn">Login</button>
            </div>
        </form>
    </article>

    
    <article class="signup-form-wrapper">
        <h2>Signing in </h2>
        <form class="signup-form">
            <div class="username-wrapper">
                <div>
                    <label>Username: </label>
                </div>
                <div>
                    <input class="signup-username" name="signup-username" type="text">
                </div>
            </div>
            <div class="email-wrapper">
                <div>
                    <label>Email: </label>
                </div>
                <div>
                    <input class="signup-email" name="signup-email" type="text">
                </div>
            </div>
            <div class="password-wrapper">
                <div>
                    <label>Password: </label>
                </div>
                <div>
                    <input class="signup-password" name="signup-password" type="password">
                </div>
            </div>
            <div class="btn-wrapper">
                <button class="btn">Signup</button>
            </div>
        </form>
    </article>
</section>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>